* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
      background-color: rgb(224, 234, 243);
      
  }

h1{
    display: block;
    margin: 30px;
    font-size: 50px;
    text-align: center;
}

h3{
    display: block;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.select{
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.seleccion{
    text-align: center;
    width: 100%
}

#seleccionarPrestamo{
    width: 7%;
}

select{
    display: inline;
    text-align: center;
    border: 1px solid black;
    height: 25px;
    background-color: rgb(191, 210, 226)
}

#boton{
    margin-top:15px;
    padding: 5px;
}


.subtitulo{
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 50px;
}

.valorFinal{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
}